/* Mobile Styles */
@media only screen and (max-width: 480px) {
    .container2, .container3, img {
        flex-direction: column;
        max-width: 430px;
    }
    a img {
        max-width: 300px;
    }
    .navigation {
        justify-content: center;
    }
    body {
        min-width: fit-content;
    }
    video {
         min-width: fit-content;   
    }

}